{% extends "base.html" %}
{% load modern_tags i18n %}

{% block page_header %}
    {% trans 'Change password' %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li class="active">{% trans 'Change password' %}</li>
{% endblock %}

{% block main %}
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">{% trans 'Change password' %}</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px">
                    </div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    {% if form.non_field_errors %}
                        <div id="login-alert" class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <form id="loginform" action="{% url 'password_change' %}" class="form-horizontal" role="form"
                          method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                {{ field|addclass:"form-control"|placeholder:field.label }}
                            </div>
                        {% endfor %}
                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <button type="submit" class="btn btn-primary btn-default pull-right">{% trans 'Save' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}